html{
  height: fit-content;
  font-size: 1.2rem;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-image: url("/background.svg");
  background-attachment: fixed;
  background-size: cover;
}

.label-block {
  display: block;
}

.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  border-color: #4d4d4d;
 }
