html, body{
  height: 100%
}

html{
  font-size: 1.1rem;
}

body{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/background.svg") !important;
  background-attachment: fixed;
  background-size: cover; 
}

#white-background {
  background: #f0f8ff !important;
}

.label-block {
  display: block;
}

.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  border-color: #4d4d4d;
 }
